
<h2>Analysis:</h2>

<h3>Project Info:</h3>

<p>Project: <%= @snapshot_info["project_info"]["path_with_namespace"] %></p>
<p>Snapshot Created at: <%= @snapshot_info["admin_info"]["download_timestamp"] %></p>
<p>Snapshot Created By: <%= @snapshot_info["admin_info"]["downloaded_by_user"] %></p>

<br>

<h4>Time Log Breakdown:</h4>
	<% @milestones.each do |m| %>
		<p><strong> Milestone Number: <%= m["milestone_number"] %></strong></p>
		<p> State: <%= m["milestone_state"] %></p>
		<p> Title: <%= m["milestone_title"] %></p>
		<p> Budget: <%= budget = m["milestone_budget_duration"].to_i %></p>
		<p> Due Date: <%= m["milestone_due_date"] %></p>
		<p> Sum of Time Logs assoicated with Milestone(Spent Time): <%= timeSum = get_milestone_sums(m["download_id"], m["milestone_number"])["time_duration_sum"] %> (<%= (timeSum / budget.to_f * 100).round(2) %> % spent)</p>

                <p> Sum of story points: <%= get_milestone_points(m["download_id"], m["milestone_number"])["points_total"] %></p>
		<p> Count of Time Logs assoicated with Milestone: <%= timeCount = get_milestone_sums(m["download_id"], m["milestone_number"])["time_comment_count"] %></p>
		<p>Budget Left: <%= budget - timeSum %> (<%= ((budget - timeSum) / budget.to_f * 100).round(2) %>% left) </p>

	<p><strong>Issue breakdown:</strong></p>
			<table style="width:100%">
				<tr>
					<th class="text-center">Issue Number</th>
					<th class="text-center">Issue Title</th>
					<th class="text-center">Issue State</th>
					<th class="text-center">Time Duration Sum</th>
                                        <th class="text-center">Story points</th>
					<th class="text-center">Time Log Count</th>
				</tr>
				<% get_issues_for_milestone(m["download_id"], m["milestone_number"]).each do |i| %>
					<tr>
						<td class="text-center"><%= i["issue_number"] %></td>
						<td class="text-center"><%= i["issue_title"] %></td>
						<td class="text-center"><%= i["issue_state"] %></td>
						<td class="text-center"><%= i["time_duration_sum"] %> (<%= (i["time_duration_sum"] / budget.to_f * 100).round(2)%>% of Budget)</td>
                                                <td class="text-center"><%= i["issue_points"] %></td>
						<td class="text-center"><%= i["time_comment_count"] %></td>
					</tr>					
				<% end %>
			</table>
		<hr>
	<% end %>

<a href="/download-xlsx/<%= @snapshot_info["admin_info"]["download_id"] %>">Download XSLX File: Includes Issues and Milestone Data</a>


<hr>
<h2>Milestone Stats Analysis:</h2>
<h2>User Stats Analysis:</h2>
<h2>Calendar/Dates Stats Analysis:</h2>
<h2>Workload Stats Analysis:</h2>