
<% if current_user != nil %>

	<h2>Downloads:</h2>


	<form class="form-horizontal" role="form", action="/", method="post">

		<div class="form-group">
			 <label for="downloads" class="col-sm-2 control-label">Avaliable Downloads</label>
			<div class="col-sm-10">
				<table style="width:100%">
					<tr>
						<th>Project</th>
						<th>Download Date</th> 
						<th>Downloaded By</th>
						<th>Action</th>
						<th style="display:none;">Download ID</th>
					</tr>
					<% @adminQueries.each do |aq| %>
						<tr>
							<td ><%= aq["project_name"] %></td>
							<td><%= aq["download_date"] %></td>
							<td><%= aq["downloaded_by"] %></td>
							<td><a href="/analyze/<%= aq["download_id"] %>">View Time Logs</a></td>
						</tr>						
					<% end %>
				</table>
			</div>
		</div>
<!-- 		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				 <button type="submit" class="btn btn-default">Button</button>
			</div>
		</div> -->
	</form>

	<hr>
	<h2>Download Time Tracking Data from your GitLab Instance</h2>

	<form class="form-horizontal" role="form", action="/gl-download", method="post">

		<div class="form-group">
			 <label for="repo" class="col-sm-2 control-label">Avaliable Projects</label>
			<div class="col-sm-10">
				<select name="post[repo]", id="repo">
					<% @projectList.each do |p| %>
					<%= p = p.to_h %>
						<option value= "<%= "#{p['id']}" %>" ><%= p["path_with_namespace"] %></option>
					<% end %>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				 <button type="submit" class="btn btn-default">Download</button>
			</div>
		</div>
	</form>
	<hr>
<% end %>